.form{
    justify-self: end;
    width: 78%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.form input{
    margin-bottom: 10px;
    padding: 15px;
    width: 80%;
    justify-self: center;
    padding-left: 20px;
    border: none;
    border-radius: 20px;
}
.inputsDiv{

    box-shadow: 7px -5px 15px 5px #000000;
    position: fixed;
  bottom: 0;
  width: 78%;
  left: 22%;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ddd;
   background-color: rgb(42, 20, 62);
  z-index: 10;
}
.inputsDiv input{
     width: 80%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease;
  
}
.button{
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 20px;
    background-color: #d5a0f1;
}
.button:hover{
    cursor: pointer;
}
.profile{
    position: fixed;
    display: flex;
    z-index: 2;
    align-items: center;
    background-color: rgb(42, 20, 62);
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    border-bottom: 1px white solid;
    width: 78%;
    margin-left: 22%;
     box-shadow: 7px 5px 15px 5px #000000;
}
.profile img{
    height: 75px;
    margin-right: 20px;
}