*{
    font-family: 'Bahnschrift', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-x: hidden;
}
body{
    margin: 0;
    background-image: url('../public/1640205206_4-abrakadabra-fun-p-krasivii-fon-dlya-telegramma-4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}