.div{
    display: block;
    overflow-y: auto;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    width: 20%;
    border-radius: 20px;
    z-index: 4;
    box-shadow: 0px 5px 15px 5px #000000;

}
.divImage{
    display: block;
    overflow-y: auto;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    width: 50%;
    border-radius: 20px;
    z-index: 4;
    box-shadow: 0px 5px 15px 5px #000000;
    img{
        width: 100%;
  max-width: 600px; 
  height: auto;
  object-fit: contain;
  border-radius: 8px;
    }
}
.content{
    margin-right: 20px;
    margin-left: 20px;
}
.name{
    margin-left: 20px;
    opacity: 0.7;
}
.time{
    margin-left: 80%;
    opacity: 0.5;
}
.top{
    display: flex;
    justify-content: space-between;
}
.button{
    position: relative;
    border: none;
    color: white;
    margin-right: 10px;
    font-size: 150%;
}
.button:hover{
    cursor: pointer;
}
.AcceptButton{
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 10px;
    background-color: rgb(109, 70, 145);
    border: none;
    text-align: center;
    color: white;
}
.AcceptButton:hover{
    cursor: pointer;
}
.inputClass{
    align-items: center;
}
@media(max-width:765px){
    .div{
        margin-left: 20px;
        margin-right: 20px;
        width: 50%;
    }
    .divImage{
        margin-left: 20px;
        margin-right: 20px;
    }
}