.div{
    display: block;
    overflow-y: auto;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    width: 20%;
    border-radius: 20px;
    z-index: 4;
}
.content{
    margin-right: 20px;
    margin-left: 20px;
}
.name{
    margin-left: 20px;
    opacity: 0.7;
}
.time{
    margin-left: 80%;
    opacity: 0.5;
}
.top{
    display: flex;
    justify-content: space-between;
}
.button{
    position: relative;
    border: none;
    color: white;
    margin-right: 10px;
    font-size: 150%;
}
.button:hover{
    cursor: pointer;
}
.AcceptButton{
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 10px;
    background-color: rgb(109, 70, 145);
    border: none;
    text-align: center;
    color: white;
}
.AcceptButton:hover{
    cursor: pointer;
}
.inputClass{
    align-items: center;
}