.div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 737px;
    background-color: rgb(42, 20, 62);
}
.div form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
       width: 30%;
    box-shadow: 0px 0px 15px 5px #000000; 
    background-color: white;
    height: 70%;
    border-radius: 20px;
    gap: 20px;
}
.div button{
    font-size: 112.5%;
    border: none;
        border-radius: 20px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    color: white;
    background-color: rgb(42, 20, 62);
}
.div input{
border: black 1px solid;
padding: 15px;
padding-left: 30px;
padding-right: 30px;
border-radius: 20px;
}
.div button:hover{
    background-color: rgb(35, 17, 52);
    cursor: pointer;
}
.div h2{
    color: red;
}