.contactCard {
  width: 100%;
  max-width: 320px;
  
  margin: 10px auto;
  margin-top: 0px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contactCard:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.link {
  display: flex;
  align-items: center;
 gap: 15px;
  background-color: #d5a0f1;
  text-decoration: none;
  color: #222;
  padding: 12px 16px;
  border-radius: 16px;
  transition: background-color 0.2s ease;
}

.link:hover {
  background-color: #ad00d4;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ad00d4;
}

.username {
  font-size: 1.2rem;
  font-weight: 600;
}
