.div{
    display: block;
    overflow-y: auto;
    position: fixed;
    top: 0;
    padding-top: 10px;
    height: 100%;
    width: 22%;
    background-color: rgb(60, 33, 85);
    box-shadow: 5px 0px 15px 5px #000000;
    z-index: 11;

}